body{
    background-image: url(weather.jpg);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center;
    /* height: 100%; */
    color: #fff;
}
.card{
    margin: auto;
    margin-top: 10%;
    max-width: 340px;
    height: 415px;
    border: 1px solid rgb(139, 139, 139);
    box-shadow: 10px 10px 20px rgb(30, 30, 30 , 0.7);
    border-radius: 10px;
    backdrop-filter: blur(15px);
}
.card input{
    font-size: 17px;
    margin-top: 1%;
    height: 25px;
    border-radius: 20px;
    padding-left: 10px;
    border: 1px solid lightgray;
    outline: lightgray;
}
.card button{
    margin-left: 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.card button:hover{
    cursor: pointer;
}
.card button i{
    font-size: 18px;
}
.card h2{
    padding-left: 12px;
    padding-bottom: 5px;
}
.card h2 span{
    padding-left: 5px;
}